<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Student Management Web Application">
    <meta name="author" content="Brk">
    <link rel="icon" href="favicon.ico">
    <title>MyStudentRegWebApp - Managing Student registration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{css/style.css}">
    <script>
        function empty() {
            var x;
            x = document.getElementById("studId").value;
            if (x == "") {
                alert("Enter a Valid Id");
                return false;
            };
        }
    </script>

</head>
<body>
<!--<div th:replace="fragments/header :: header"></div>-->
<!--<header xmlns:th="http://www.thymeleaf.org" th:fragment="header"> -->
<div class = "maincontainer">
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a style="padding-right: 2em;" class="navbar-brand" href="/eRegistrar/home">eRegistrar : : : Student Registration system</a>
        <!--<span style="color: #ffffff;"> &nbsp; | &nbsp;</span>-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
        <div class = "topnav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" style="border-left: white 1px solid; padding-left: 2em; padding-right: 2em;">
                    <a class="nav-link" href="/student/list">Students</a>
                </li>
                <li class="nav-item" style="border-left: white 1px solid; padding-left: 2em; padding-right: 2em;">
                    <a class="nav-link" th:href="@{/student/register}">Register</a>
                </li>
                  <div class = "formSearch">
                   <form  method = "Get" id="studentForm" action="/student/search">
                   
                   <input type="text" name="studentId" placeholder="Search By Student Id" id="studId"/>

              
                   <button type="submit">Search</button>
                  </form>
                  </div>
                
                
               <!--  <li class="nav-item" style="border-left: white 1px solid; padding-left: 2em; padding-right: 2em;">
                    <a class="nav-link" href="/student/list">Search By Id</a>
                </li>  -->
            </ul>
           
            </div>
        </div>
    </nav>
</header>

<div class="container" style="margin-top: 2em;">
    <th:block>
        <h3>Welcome to eRegistrar </h3>
        <hr/>
        <div style="font-size: 1em">
            Using out eRigistrar web application Users can interact with the system easily, the system
            provides browse and manage capabilty  <a href="/student/list">students</a>. You have to just follow
            the instruction. And then click the
            appropriate menu item, located on the menu-bar above.<br/><br/>


        </div>
    </th:block>
</div>
<div>
<footer>
    <div style="margin:0 1em 0 1em;">
        <span class="text-muted">Lab8: : : CS425-SWE</span>
        <span style="float:right;" class="text-muted">&copy; June 2021</span>
    </div>
</footer>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>